/* This selector is used to prevent ui-dark/light.css from overwriting changes
   to .win-surface. */
.groupeditemspage .groupeditemslist .win-horizontal.win-viewport .win-surface, .win-listview.win-groups > .win-horizontal .win-surface {
    margin-bottom: 60px;
    margin-left: 45px;
    margin-right: 115px;
    margin-top: 0px;
}

.groupeditemslist {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}

/* Use grid and top level layout for truncation */
.group-header {
    -ms-grid-columns: minmax(0, max-content) 7px max-content;
    -ms-grid-rows: max-content;
    display: -ms-inline-grid;
    line-height: 1.5;
}

    /* Override default button styles */
    .group-header, .group-header:hover, .group-header:hover:active {
        background: transparent;
        border: 0;
        margin-bottom: 1px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 1px;
        min-height: 0;
        padding: 0;
    }

.group-title {
    display: inline-block;
}

.group-chevron {
    -ms-grid-column: 3;
    display: inline-block;
}

    .group-chevron::before {
        content: "\E26B";
        font-family: 'Segoe UI Symbol';
    }

.item {
    padding: 6px 15px 2px 15px;
    width: 250px;
}

.item-description {
    text-align: justify;
}

@media screen and (-ms-view-state: fullscreen-landscape), screen and (-ms-view-state: fullscreen-portrait), screen and (-ms-view-state: filled) {
    .item {
        background: rgba(239, 237, 237, 0.647);
    }

    .item-title {
        color: rgba(0,0,0,1);
    }

    .item-description {
        color: rgba(0,0,0,1);
    }
}

@media screen and (-ms-view-state: fullscreen-landscape) and (-ms-high-contrast), screen and (-ms-view-state: fullscreen-portrait) and (-ms-high-contrast), screen and (-ms-view-state: filled) and (-ms-high-contrast) {
    .item {
        color: WindowText;
    }
}

@media screen and (-ms-view-state: snapped) {

    .groupeditemspage .groupeditemslist .win-vertical.win-viewport .win-surface {
        margin-bottom: 30px;
        margin-top: 0;
    }

    .groupeditemspage .groupeditemslist .win-container {
        margin-bottom: 15px;
        margin-left: 13px;
        margin-right: 35px;
        padding: 7px;
    }

    .item {
        width: 200px;
        background: transparent;
        margin-left: 45px;
        padding: 0;
        display: list-item;
    }

    .item-title {
        margin-top: 4px;
    }

    .item-description, .item hr {
        display: none;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .groupeditemspage .win-horizontal.win-viewport .win-surface {
        margin-left: 25px;
    }
}
