<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="51d04c32-e677-4267-92c1-514c12bf9d1a"
            Publisher="CN=rmalves"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>NetPonto.App</DisplayName>
    <PublisherDisplayName>rmalves</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="NetPonto.App.App">
        <VisualElements
            DisplayName="NetPonto.App"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="NetPonto.App"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>